// Colors
$color-text: rgb(11, 178, 160);
$color-text-weak: rgb(8, 129, 117);
$color-text-strong: rgb(45, 255, 255);
$color-border-weak: rgba(12,45,46,1.00);
$color-lighten-bg: rgba(23,23,33,1.00);
$color-text-red: rgb(232, 0, 21);
$color-success: rgb(12, 184, 37);
$color-cta-weak: rgb(5, 49, 53);
$color-cta-highlight: rgba(2,119,126,1.00);
