a {
  text-decoration: none;
  color: $color-text;
  &:hover {
    color: $color-text-strong;
  }
}

.button, input[type="submit"] {
  display: inline-block;
  line-height: 30px;
  padding: 5px 20px;
  margin: 0 5px 0 5px;
  color: $color-text;
  background-color: $color-cta-weak;
  letter-spacing: 0.8px;
  font-size: 16px;
  border: 1px solid $color-cta-weak;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: $color-text-strong;
    background-color: $color-cta-highlight;
  }
  @media screen and (max-width: 400px) {
    width: none;
  }
}

.button.nav {
  width: 100%;
  font-size: 12px;
  padding: 2px 0 10px 10px;
  letter-spacing: 0.10em;
  font-family: $header-font-family;
  position: relative;
  border-radius: 0;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #007bff transparent transparent transparent;
  }
  &.active {
    color: $color-text-strong;
  }
}

@media screen and (min-width: 721px) {
  .button.nav {
    padding-left: 0;
    margin-right: 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    text-align: left;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}
